//
@use "bootstrap";

$dc-primary: #0282f9;
$dc-banner-bg: #1c1c1c;
$dc-footer-bg: #303030;
$dc-text-dark: #797979;
$dc-text-white: #fffff2;

.btn-outline-pimary {
    border: 1px solid $dc-primary;
    color: $dc-text-white;
    background-color: transparent;
    padding: 0.5rem 1rem;
}

header {
    .header_top {
        a {
            text-decoration: none;
            color: $dc-text-white;
        }
    }
    nav {
        padding: 1rem 0;
        ul {
            height: 100%;
        }

        input:focus-visible {
            outline: none;
        }
        .link_nav {
            width: 100%;
            a {
                color: $dc-banner-bg;
                font-weight: bold;
                font-size: 0.8rem;
                height: 100%;
            }

            .active {
                border-bottom: 1px solid $dc-primary;
            }

            .search {
                border-top: none;
                border-right: none;
                border-left: none;
                border-bottom: 2px solid $dc-primary;
                text-align: right;
            }
        }
    }
}

main {
    background-color: $dc-banner-bg;
    a {
        text-decoration: none;
        color: $dc-text-white;
    }

    .figures {
        text-align: center;
        margin-bottom: 0.5rem;
        img {
            aspect-ratio: 1/1;
            height: 170px;
            object-fit: cover;
            object-position: top;
        }

        .title_figure {
            text-transform: uppercase;
            font-size: 0.8rem;
        }
    }

    .btn_main_top {
        font-size: 1.5rem;
        position: absolute;
        top: -25px;
        left: -20px;
        background-color: $dc-primary;
        color: $dc-text-white;
        padding: 0.5rem 1rem;
        border: none;
        text-transform: uppercase;
    }

    .btn_main_bottom {
        position: absolute;
        bottom: 0px;
        left: 50%;
        font-size: 1.2rem;
        transform: translate(-50%, -50%);
        background-color: $dc-primary;
        color: $dc-text-white;
        text-transform: uppercase;
        border: none;
        padding: 0.5rem 1rem;
    }

    .col_2 {
        width: calc(100% / 12) * 2;
    }

    .main_jumbo {
        height: 500px;
        background-image: url("../img/jumbotron.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    position: relative;
    z-index: 1;

    .content {
        background-color: cornflower$dc-primary;
        color: $dc-text-white;

        .container {
            padding: 3rem 0;
        }
    }

    .items {
        background-color: $dc-primary;
        color: $dc-text-white;
        a {
            color: $dc-text-white;
            text-decoration: none;
        }

        img {
            height: 60px;
        }

        .container {
            padding: 3rem 3rem;

            .img_item {
                display: flex;
                align-items: center;

                .title_item {
                    margin-left: 0.7rem;
                    font-size: 0.9rem;
                }
            }
        }
    }

    .show-comic {
        min-width: 918px;
        .jumbotron {
            height: 400px;
            background-image: url("../images/jumbotron.jpg");
            background-position: top;
            background-size: cover;
            background-repeat: no-repeat;
        }

        .divider_blue {
            position: relative;
            height: 80px;
            background-color: $dc-primary;

            .figure {
                position: relative;
                bottom: 310px;
                left: 175px;
                border: 1px solid white;

                .type, .view-gallery {
                    padding: 0.2rem 0.6rem;
                    text-transform: uppercase;
                    color: white;
                    background-color: $dc-primary;
                }

                .view-gallery {
                    text-align: center;
                }
            }
        }

        .main-content {
            background-color: white;
            .comic-description {
                display: flex;
                padding: 50px 175px 0;

                .left_side {
                    padding-right: 25px;
                    padding-bottom: 25px;

                    h2 {
                        color:  #00417e;
                        padding-top: 1.5rem;
                    }
                    .availability {
                        display: flex;
                        background-color: rgba(56, 204, 40, 0.8);
                        color: rgba(255, 255, 255, 0.8);
                        border-bottom: 0.5px solid black;
                        justify-content: space-between;
                        margin: 15px 0;

                        .status {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            flex-grow: 1;
                            padding: 5px;
                            p {
                                text-transform: uppercase;
                                font-weight: 600;
                                margin: 0;
                            }
                        }
                        .check {
                            padding: 5px;
                            border-left: 0.5px solid black;
                            cursor: pointer;
                            p {
                                font-weight: 600;
                            }
                        }
                    }
                }
                .right_side {
                    h3 {
                        text-transform: uppercase;
                        font-weight: 400;
                        text-align: right;
                    }
                }
            }

            .talent_specs {
                display: flex;
                padding: 0 175px 50px;

                background-color: #f6f6f6;

                h2 {
                    padding: 50px 0;
                    border-bottom: 1px solid lightgrey;
                }

                a {
                    color: $dc-primary;
                    text-decoration: none;
                }

                p {
                    text-align: end;
                }

                .left_side {
                    flex-basis: calc(100% / 2);
                    padding-right: 7.5px;
                    div {
                        display: flex;
                        justify-content: space-between;
                        padding: 22px 0;
                        border-bottom: 1px solid lightgrey;

                        h5 {
                            flex-basis: 110px;
                        }

                        p {
                            flex-basis: calc(100% - 110px);
                            font-size: 0.8rem;
                            font-weight: 600;
                        }
                    }
                }

                .right_side {
                    flex-basis: calc(100% / 2);
                    padding-left: 7.5px;

                    div {
                        display: flex;
                        justify-content: space-between;
                        padding: 20px 0;

                        border-bottom: 1px solid lightgrey;

                        h5 {
                            flex-basis: 150px;
                        }

                        p {
                            text-transform: uppercase;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
        .shop_banner {
            background-color: #f6f6f6;
            img {
                filter: brightness(0.8);
                max-width: 40px;
            }
        }
    }
}

.site_footer {
    background: url("../img/footer-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

footer {
    .utyls {
        position: relative;

        .col-6 {
            justify-content: flex-end;
        }

        ul {
            padding-left: 0;
        }

        li {
            color: $dc-text-dark;
            list-style: none;
        }

        .title_utyls {
            color: $dc-text-white;
            margin-bottom: 1rem;
        }

        .logo_big {
            display: flex;
            align-items: center;

            img {
                position: absolute;
                bottom: -80px;
                z-index: 0;
            }
        }
    }

    .follows {
        position: relative;
        z-index: 1;
        padding: 2rem 0;
        background-color: $dc-footer-bg;

        .container {
            display: flex;
            justify-content: space-between;
            height: 100%;

            .title_follow_us {
                color: $dc-primary;
            }

            .follow_us {
                display: flex;
                align-items: center;
                a {
                    text-decoration: none;
                }

                .icon_follows {
                    img {
                        margin-left: 1rem;
                    }
                }
            }
        }
    }
}
